			body {
			background-color:black;
			}
			table {
				font-style: italic;
			}
			th {
				font-style: normal;
				color:black;
			}
			h2 {
			color:green;
			font-family: 'Righteous', cursive;
			}
			h1 {
				font-family: 'Righteous', cursive;
			}
			h3 {
				font-family: 'Righteous', cursive;
			}

			@font-face {
			font-family: 'Righteous', cursive;
			font-style:normal;
			font-weight:400;
			src:url(https://fonts.googleapis.com/css?family=Righteous);
			}
			div.divPic {
				background-image: url("http://iv1.lisimg.com/image/2653349/500full-feed-me's-big-adventure-cover.jpg"); height:500px; width:100%;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-position: center top;
			}
			a:hover {
				text-decoration: underline;
				background-color:green;
			}
			a:link {
				text-decoration: none:
			}
			a:visited {
				text-decoration: none;
			}
			a:active {
				text-decoration:none;
			}
			tbody {
				background-color: green;
			}